<h1></h1>
<h3>Study Smart.</h3>
<img id="main-logo" src="http://i1264.photobucket.com/albums/jj493/wmitchel1/adderalllogo_zps14d06e31.jpg">




    

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Adderall</h1>
        <p>Adderall is a platform that allows for Canadian University Students to share resources and study for exams. Find your school, find you classes, find old tests and assignments. While your at it create flashcards and study them.</p>
        <p><a class="btn btn-primary btn-lg" role="button"><%= link_to "Find Your School", universities_path %></a></p>
      </div>
    </div>
