


    <!-- Main jumbotron for a primary marketing message or call to action -->
<div id="landing-container">
  <div class="jumbotron">
    <div class="container">
      <h3>Study Smart.</h3>
      <p>Adderall provides Canadian University students with a place to interact with others who are in or who previously took classes they're enrolled in. Find your University, find your classes, find and share old tests and assignments. While your at it use our Q & A board to ask some questions to your classmates and use our flashcards to study what you've learned!</p>
      <p><a class="btn btn-primary btn-lg" role="button"><%= link_to "Find Your School", universities_path %></a></p>
    </div>
  </div>

<section class="block">
		<div class="inner">
			<div class="cube">
				<img src="http://cdn.dice.com/wp-content/uploads/2013/07/RubyOnRails.png" />
				<p>Find and share tests and assignments specific to your University classes.</p>
			</div>
			<div class="cube">
				<img src="http://www.cresol.co.in/images/javascript.png" />
				<p>Create flash cards and study them.</p>
			</div>
			<div class="cube">
				<img src="http://icons.iconarchive.com/icons/martz90/hex/512/css-3-icon.png" />

				<p>Ask and answer questions specific to your University classes.</p>
			</div>
		</div>

		<br class="clearfix" />
			<div class="block-p">
        <p><...></p>
      <p>Git & Github workflow, test driven development, object oriented programming, relational databases, SQL, RESTful actions, HTTP requests, Agile development, team work and collaberation, meta-programming, advanced infrastructure set-up, and responsive design.</p>
			<p>As a junior devloper I make sure to keep up to date with best practices, new technologies, and ensure my code is modular, descriptive, and tested for participation in open source communities.  </p>
			</div>

</section>
</div>
