<body class="dashboard">
<h2> Dashboard </h2>
<div class="cards" id="card-3456">
  <div class="card-1 card active">1</div>
  <div class="card-2 card">2</div>
</div>
</div>

<div class='notes-uploaded'>

</div>

<div class='notes-liked'>
 


</div>










</body>

