<body class="dashboard">
<h2> Dashboard </h2>
<div class="card-container">
  <input type="checkbox" name="flip" id="flip" class="flip-trigger hidden">
  <div class="card front">
    <span class="text">front</span>
    <label for="flip" class="icon flip">↺</label>
  </div>
  <div class="card back">
    <span class="text">back</span>
    <label for="flip" class="icon next">➡</label>
  </div>
</div>

<div class='notes-uploaded'>

</div>

<div class='notes-liked'>
 


</div>










</body>

