// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#explain {
  p {
    font-size:20px;
    font-color:white;
  }
}

#course-name {
  p {
    font-size:30px;
    font-color:white;
  }
}

#question-answer-container {
background-color: rgba(255, 255, 255, 0.93);
padding: 10px 40px 10px 90px;
margin-top: 75px;
margin-right: 380px;
margin-bottom:75px;
}

#note-container {
  padding: 10px 40px 10px 90px;

  img {
    width:120px;
    height: 170px;
    background: rgba(255, 255, 255, 0.9);
  }
  img:hover {
    -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);

  }
    span {
      font-size: 15px;
    }

    button {
      display: inline;
      border: none;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0);
      background-color: #464646;
      padding: 8px 15px;
      margin: 10px;
      color: #4fde4a;



      span {
        color:red;
        font-size: 25px;
        margin: 3px;
        padding-top:3px;


      }

    }
    #notes {
      display: inline-block;
      width:200px;
      padding: 5px 30px;


    }
}

#notes-qa-container {

  width:100%;
  background-size: contain;
  height:auto;
}

h2, .h2 {
font-size: 18px;
}

#note {
  margin-top:75px;
  margin-right: 100px;
  background: rgba(255, 255, 255, 0.89);
}
