// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #4fd1d4;
}
#explain {
  p {
    font-size:20px;
    font-color:white;
  }
}

#course-name {
  p {
    font-size:30px;
    font-color:white;
  }
}

.fancypdf {
  border: 1px solid #3a3a3a;
  border-radius: 2px;

  width:120px;
  height: 170px;
  background: rgba(255, 255, 255, 0.9);
  &:hover {
    -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);

  }
}

#question-answer-container {
  border: 8px solid #4fd1d4;
  border-radius:4px;
  background-color: rgba(255, 255, 255, 0.93);
  padding: 10px 40px 10px 90px;
  margin-top: 75px;
  margin-right: 380px;
  margin-bottom:75px;
}

#note-container {
  padding: 10px 40px 10px 90px;

  #upload {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: -95px;
  }

  .search-courses {
    margin: 10px 0;
  }

    span {
      font-size: 15px;
    }

    #pad-this {
      padding: 10px 15px 0 0;
    }

    .heart {
      display: inline;
      border: none;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0);
      outline: none;
      color: #4fde4a;
      span {
        color:red;
        font-size: 25px;
        margin: 3px;
        padding-top:3px;
      }

    }
    .notes {
      display: inline-block;
      width:200px;
      padding: 5px 30px;


    }
}

#notes-qa-container {
  background-image:url("http://i1264.photobucket.com/albums/jj493/wmitchel1/r7Z09Ht_zps18931603.gif");
  width:100%;

  height:auto;
}

h2, .h2 {
font-size: 30px;
}

#note {
  border: 8px solid #4FD1d4;
  border-radius:4px;
  margin-top:35px;
  margin-right: 100px;
  background: rgba(255, 255, 255, 0.94);
  padding: 30px;
  #upload {
    float: right;
  }
}

#notebox-info {

}


.delete-button {
  img {
    height:15px;
    width:15px;
    float: right;
  }
}
