// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url("http://i1264.photobucket.com/albums/jj493/wmitchel1/r7Z09Ht_zps18931603.gif");
  margin-bottom: 0;
  margin: 0;
  width: 101.4%;
  padding: 30px;
  color: inherit;
  height:480px;


  #signup-container {
    margin:1px 90px 0 0;
    background-color:rgba(255, 255, 255, 0.67);
    width:40%;
    float: right;
    padding: 3px 30px 30px 175px;

    input[type="submit"] {
      font-size: 1.5em;
      margin: 10px 5px;
      border-style: none;
      background: #34b0ea;
      padding: 4px 9px;
    }
  }
}

.container {
  background: rgba(255, 255, 255, 0.80);
  height: 330px;
  width:40%;
  height:400px;
  float:left;
  margin-top:8px;
  margin-left:61px;

  p {
    font-size: 23px;
  }



  #find {
    font-size: 24px;
    margin-left: 405px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding: 10px;
    width:245px;
  }
  span {
    color: #074ab5;
  }

  a {
    font-size: 25px;
    margin: 5px;
    color: #074ab5;

  }
}


.icons {
  display: inline;
  width:100px;

    p {
      width:100px;
      display:inline;
      color:red;
      text-align:center;
    }

    img {
      width: 100px;
    }
}


section .inner {
	display: block;
  height: auto;
  width: 100%;
  margin: 0 auto;
  max-width: 1220px;
  font-family: Play;
  color: #9e9e9e;
}

section.block {
	background-color: #2a2a2a;
  height: 400px;
  width: 101.4%;
  padding-top: 20px;
}

section.block-two {
	background: #fff;
  height: auto;
  width: 101.4%;
}

.cube {
	display: block;
  width: 31.1%;
  height: 350px;
  background: rgb(63, 123, 164);
  float: left;
  margin: 1%;
}

.cube img {
	text-align: center;
  width: 40%;
  margin: 8% 35%;
}

.cube img:hover {
	top: -5px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cube h1 {
	text-align: center;
  font-family: 'Oxygen';
  font-size: 20px;
  color: #2d2a2a;
  font-weight: bold;
  padding: 10px;
}

.cube p {
	text-align: center;
  font-family: 'Lato';
  padding: 10px;
  color: #313131;
  margin-bottom: 10px;
}
