// Place all the styles related to the university controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background {
  background: url("http://i1264.photobucket.com/albums/jj493/wmitchel1/r7Z09Ht_zps18931603.gif") center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  height: 100%;
}

#course-background {
  background: url("http://i1264.photobucket.com/albums/jj493/wmitchel1/r7Z09Ht_zps18931603.gif") center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  height: 100%;
}

.find-title {
  p {
    margin: 0 0 20px 20%;
    font-size: 40px;
  }

}

#course-box {
  margin-left: 18%;
  background: rgba(255, 255, 255, 0.93);
  width: 800px;
  padding: 30px;
  border: 8px solid #4fd1d4;
  min-height:1000px;
}



#list-box {
  margin-left: 18%;
  background: rgba(255, 255, 255, 0.93);
  width: 800px;
  padding: 30px;
  min-height:1000px;
  border: 8px solid #4fd1d4;


  .find-title {

    span {
      text-shadow: 2px 2px #4FD1D4;
    }
    p {
      margin: 0 0 20px 20%;
      font-size: 40px;
    }

  }


  .type_text {
    margin: 0 10px 30px 240px;
    border-style: none;
    padding: 5px 10px;
    border: 1px solid rgba(23, 23, 23, 0.43);
    border-radius: 5px;
  }

  #list {
    h4 {
      font-family: 'Questrial', sans-serif;
      font-size: 30px;
    a:hover {
      text-decoration: none;
    }
    }
  }
}

#course {
  font-size: 25px;
}
.course-list {

}
#select {
  display: inline;
  margin: 0px 3% 19% 30%;
}

#add-course-button {
  display:inline;
}

#list-box .type_text {
  margin: 25px 10px 30px 251px;
}

.modal-body #title {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.modal-body input[type="submit"] {
  font-size: 1.5em;
  background-color: #393937;
  padding: 8px 15px;
  margin: 10px;
  color: #eef3ee;
  border-radius: 13px;
  border: 2px solid #4fd1d4;


}

.modal-header {
  background-image: url("http://i1264.photobucket.com/albums/jj493/wmitchel1/r7Z09Ht_zps18931603.gif");

}

.modal-footer {
  background-image: url("http://i1264.photobucket.com/albums/jj493/wmitchel1/r7Z09Ht_zps18931603.gif");

}

.modal-title {
  font-size: 2em;
  font-weight: bolder;

}
