// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard{

}

.note-card{
  float:right;
  background-color:red;
  color:white;
  margin-right: 40px;
  height:200px;
  
}

.notes-liked{
  float:left;
  background-color:blue;
  color:white;
  margin-left:40px;
  height: 200px;
  

}