// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard div{
  border-style:solid;
  border-color:black;
}

.note-card{
  float:right;
  
}
.notes-uploaded{
  float:left;
  
}

.notes-liked{
  float:bottom;
  

}